<ion-header>
  <ion-toolbar color="bg" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product/list"></ion-back-button>
    </ion-buttons>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" >Add product</ion-card-title>
    </ion-card-header>

    <ion-card-content>
 
      <ion-list *ngIf="!submitted">
        <ion-item >
        <ion-label position="floating">Product Name</ion-label>
        <ion-input type="text" [(ngModel)]="product.name" name="name"
        ></ion-input>
        </ion-item>
  
      <ion-item >
        <ion-label position="floating"> Price</ion-label>
        <ion-input [(ngModel)]="product.price" name="price"
        ></ion-input>
      </ion-item>
  

      <ion-item >
        <ion-label position="floating"> Quantity</ion-label>
        <ion-input [(ngModel)]="product.qt" name="Qt"
        ></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label position="floating"> category</ion-label>
        <ion-select [(ngModel)]="product.category">
          <ion-select-option [value]="category.title" *ngFor="let cat of category">{{ cat.title }}</ion-select-option>
      </ion-select>
        
      </ion-item>

      <!-- <ion-item >
        <ion-label position="floating"> Image</ion-label>
        <ion-input name="img" [(ngModel)]="product.Img" type="text"
        ></ion-input>
      </ion-item> -->

  <br>
      <ion-button color="a" expand="block" type="submit" (click)="saveProduct()" >Submit</ion-button>
      </ion-list>
  
    <div *ngIf="submitted">
      <h4>Create New Product</h4>

      <br>
      <ion-button (click)="newProduct()" color="a">New Product</ion-button>
    </div>
</ion-card-content>
</ion-card>
  
</ion-content>
