<ion-header>
  <ion-toolbar color="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="uid === '1000'">{{ message?.title }}</ion-title>
    <ion-title *ngIf="uid !== '1000'">Contacter le vendeur</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleAction()" *ngIf="action === 'read'" fill="outline">Répondre</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
