<ion-header>
  <ion-toolbar color="bg">
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card *ngIf="user">
    <ion-card-content>
      <ion-item>
     <div class="color"  > Firstname : </div>  {{ user.firstname }} 
        </ion-item>
        
        <ion-item>
          <div class="color"  >   Lastname : </div> {{ user.lastname }}
      </ion-item>

      <ion-item>
        <div class="color"  >  Username  :  </div> {{ user.username }} 
        </ion-item>
        
      <ion-item>
        <div class="color"  >   Email : </div>  {{ user.email }} 
      </ion-item>
      
      <ion-item>
        <div class="color"  >   Role  :    </div>
        <div *ngFor="let role of user.roles">
          {{ role }}
        </div>
         </ion-item>
   

    </ion-card-content>
  </ion-card>
  <div *ngIf="user">
  <ion-button expand="block" color="a"(click)="logout()">delete your account</ion-button>
  <ion-button expand="block" color="a"(click)="logout()">Logout</ion-button>
  </div>
</ion-content>