.cart-length {
    color: var(--ion-color-a);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }

//   img {
//     border: 1px solid #ddd;
//     border-radius: 4px;
//     padding: 5px;
//     width: 66px;
//   }

  .a{text-align: center}


  ion-icon {
    font-size: 16px;
  }
  