<ion-header>
  <ion-toolbar  color ="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ P?.name }}</ion-title>
    <ion-buttons slot="end">
     
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="change()"  color="c">
    
      <ion-icon color="light" name="heart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
 <ion-card>
 
  <ion-slides [options]="sliderConfig" pager="true" >
    
      
    <ion-slide *ngFor="let i of ListImage" >   

      <img src="{{'data:image/jpeg;base64,'+ i.picByte}}" />
      
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-grid>

<ion-row>
  <ion-col ><ion-label class=l1 color="b"><strong>{{P.name}}</strong>  </ion-label> </ion-col>
    <ion-col size="4" > <ion-label class="l2">  {{ P.price | currency:'USD' }}</ion-label></ion-col>

</ion-row>
<!-- <ion-row> -->
  <!-- <ion-col> <ion-label class="l3"> 140$</ion-label> </ion-col> 
  </ion-row> -->
  <ion-row class="ion-align-items-center">

    <ion-col size="4" class="ion-align-self-center">
  Quantity 
    </ion-col>
    <ion-col size="2" class="ion-align-self-center">
      <ion-button color="medium" fill="clear" (click)="decreaseCartItem(P)">
        <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="1" class="ion-align-self-center">
      {{ P.amount }}
    </ion-col>

    <ion-col size="2" class="ion-align-self-center">
      <ion-button color="medium" fill="clear" (click)="addToCart(P)">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
</ion-row>
<ion-row  class="size2"> 
   <!-- <ion-col> <ion-text> Marque</ion-text> <ion-text color="s"> Marque</ion-text>  </ion-col> -->

</ion-row>
<ion-row>
<ion-col>
  <!-- <ion-label class="size">
    aaaaaaaaaaa
  </ion-label> -->
  <!-- <ion-label>
    aaaaaaaa
  </ion-label> -->
</ion-col>

</ion-row>

</ion-grid>
<ion-list>
  <ion-list-header>
<ion-text class="size" color="b"> Product Detail </ion-text>
  </ion-list-header>
<ion-textarea class="size2">
{{P.desc}}
</ion-textarea>
</ion-list>

<ion-item class="btn-group"> </ion-item>

<ion-button class="b1"color="a" (click)="addToCart(P)"> Add to cart</ion-button>
<ion-button  class="b2" color="c" (click)="buy()"> Buy now </ion-button> 



</ion-content>


