.item-image {
    font-size: 6em;
    color: lightgray;
  }
  
  .item-price {
    font-weight: bold;
  }

  ion-img {
    height: 250px;
    width: 100%;
    // background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }


  .b1{  float: left;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .b2{ float: right; width: 180px;  left: 150px;}
//  ion-content{
//   ion-button{display:inline-block; justify-content: space-between;}}


.l2{float: right}

ion-icon{ font-size: 25px;}


.size {   font-weight: bold ;
  font-size: 16px;}

.size2 {    font-size: 13px;}


.l{float: left ;}

.l3 {  text-decoration: line-through; float: right}


.btn-group { float: left; }