<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
 <div class="center"> 
 
  <h3> Create Account </h3>
</div>

 <form [formGroup]="Form">
<ion-list>
    
        <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input formControlName="firstName" type="text" [class.invalid]="!Form.controls.firstName.valid && (Form.controls.firstName.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!Form.controls.firstName.valid  && (Form.controls.firstName.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input formControlName="lastName" type="text" [class.invalid]="!Form.controls.lastName.valid && (Form.controls.age.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!Form.controls.lastName.valid  && (Form.controls.lastName.dirty || submitAttempt)">
          <p>Please enter a valid name.</p>
      </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" [class.invalid]="!Form.controls.email.valid && (Form.controls.age.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!Form.controls.emailvalid  && (Form.controls.email.dirty || submitAttempt)">
        <p>Please enter a valid email .</p>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [class.invalid]="!Form.controls.username.valid && (Form.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="Form.controls.username.pending">
        <p>Checking username...</p>
    </ion-item>

    <ion-item *ngIf="!Form.controls.username.valid && !Form.controls.username.pending && (Form.controls.username.dirty || submitAttempt)">
        <p>Sorry, that username can not be used!</p>
    </ion-item>

       

        <ion-item>
            <ion-label position="stacked">Age</ion-label>
            <ion-input formControlName="age" type="number" [class.invalid]="!Form.controls.age.valid && (Form.controls.age.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!Form.controls.age.valid  && (Form.controls.age.dirty || submitAttempt)">
            <p>Please enter a valid age.</p>
        </ion-item>


        

        
       </ion-list>
    </form>
    <ion-button  expand="block" shape='round' color="secondary" (click)="save()">Create Account </ion-button>



  </ion-content>