<ion-header>
  <ion-toolbar color="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorie : {{ catTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Chargement...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-card *ngFor="let p of products" button (click)="showDetails(p)">
        <!-- <ion-card-header>    </ion-card-header> -->
        <ion-card-content>
          <img src='../../assets/mk/1' />
          <ion-row>
          <ion-label >{{p.name}}</ion-label>
          <ion-col size="6">
            <ion-badge color="a">
              <b>{{ p.price | currency:'USD' }}</b>
              </ion-badge>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>



</ion-content>
