<ion-header>
  <ion-toolbar>
    <ion-title>ProductHome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      

  <ion-button type="button" shape="round" color="danger" expand="block" (click)="navigateToAddPage()"> Add Product</ion-button>

  <ion-button type="button" shape="round" color="danger" expand="block" (click)="navigateToListPage()"> List Product</ion-button>
   
  <ion-button type="button" shape="round" color="danger" expand="block" (click)="navigateToEditPage()"> Edit Product</ion-button>
    
  <h6> cliquer 3 fois </h6>
  
</ion-content>
