<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h2>Hello</h2>
      <div class="icon-container">
  <img class="center"src='../../assets/logo/logo.png' alt="Beauty" width="70%" height="auto"/>
</div>
<p>The store of your dreams. You will find here what you need</p>


  
  <ion-button expand="block" color='a' (click)="home()"> <div class="B1"> Strat Shopping  </div>   </ion-button>

  <ion-button expand="block" color="c" (click)="seller()"> Vendez sur Notre Site  </ion-button>

  </ion-slide>


  <ion-slide>
    <h2>Connexion</h2>
    <div class="icon-container">
      <img class="center"src='../../assets/logo/logo.png' alt="Beauty" width="70%" height="auto"/>

    </div>
    <p>The store of your dreams. You will find here what you need</p>
    <ion-button color="c" expand="block" (click)="register()">
      <ion-icon slot="start" ></ion-icon>  
        Create Account 
    </ion-button>
    <ion-button  expand="block" color="d">
        <ion-icon slot="start" name="call"></ion-icon>  
      Telephone
    </ion-button>
  </ion-slide>
</ion-slides>
</ion-content>
