<ion-header>
  <ion-toolbar color="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="b">List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


<ion-item *ngFor="let i of products ">
  <ion-thumbnail slot="start" slot="start" button (click)="detail(i.id)">
    
    <img src="{{'../../../../../assets/product/' + i.name + '.jpg'}}">

  </ion-thumbnail>
 
<ion-label  button (click)="detail(i.id)" > {{i.name}} </ion-label>

<ion-buttons>
  <ion-button (click)="edite(i.id)" > <ion-icon name="create"></ion-icon> </ion-button>
  <!-- <a href="/admin/product/edit/{{i.id}}"><ion-icon name="create-outline"></ion-icon> </a> -->
  <ion-button (click)="Delete(i.id)"> <ion-icon name="remove"></ion-icon></ion-button>
</ion-buttons>



</ion-item>

</ion-list>
<ion-fab  horizontal="end"  slot="fixed">
  <ion-fab-button (click)="add()" color="c">
    <ion-icon name="add" color="b" ></ion-icon>
  </ion-fab-button>
  
</ion-fab>
</ion-content>
