<ion-header>
  <ion-toolbar color="bg" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product/list"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Edit product</ion-card-title>
    </ion-card-header>

    <ion-card-content> -->

   <ion-list *ngIf="currentP" >

    <form>
     
      <ion-list>

   <ion-item lines="none">
     <ion-row>
      <ion-img [src]="retrievedImage" ></ion-img>
     </ion-row>

 
    <ion-button slot="end" fill="clear" (click)="onUpload()">
      <ion-icon slot="icon-only" name="cloud-upload" color="a"></ion-icon>
    </ion-button>
    <ion-row>

    </ion-row>
  

   </ion-item>

   <ion-item>  <ion-input type="file" (change)="onFileChanged($event)"> </ion-input> </ion-item>
   


        <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="currentP.name"
          name="title"
        ></ion-input>
        </ion-item>

        <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="text"  [(ngModel)]="currentP.price"
          name="price"
        ></ion-input>
    
    </ion-item>

      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="text"  [(ngModel)]="currentP.qt"
          name="qt"
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">category</ion-label>
        <ion-select [(ngModel)]="currentP.cat">
          <ion-select-option [value]="category.title" *ngFor="let cat of category">{{ cat.title }}</ion-select-option>
      </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea type="text"  [(ngModel)]="currentP.desc"
          name="description"
        ></ion-textarea>
      </ion-item>

        <ion-row>
           <ion-col>
        <ion-button type="submit" (click)="updateP() && onUpload()" color="c">Update</ion-button>
        <p>{{ message }}</p>
      </ion-col>
      <ion-col>
        <ion-button type="submit" (click)="deleteP()" color="a">Delete</ion-button>
      </ion-col>
      </ion-row>
      </ion-list>
      </form>

  </ion-list>
  <ion-list *ngIf="!currentP">
    <p>Cannot access this Product...</p>
  </ion-list>
  <!-- </ion-card-content>
  </ion-card> -->
</ion-content>
